*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.running-project{
    margin: 0 20%;
}
body{
    background: black;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 30px;
    margin-top: 40px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.sub-titel h3{
    color: orangered;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.sub-titel p{
    color: rgb(232, 228, 235);
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
